body {
  padding: 0;
  margin: 0;
  font-family: 'Calibri';
  font-size: large;
  background-color: beige;
}

input, textarea{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.548);
    border: 0.2px black solid;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 5px;
}

.shadowStyle1{
    
    box-shadow: 25px 25px 25px rgba(0, 0, 0, 0.253);
}

.homeContent{
    display: flex;
    flex-direction: column;
}

.profilContent{
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.pCHeader{
    background-image: url("../../src/img/jpg/IA-back1.jpg");
    background-size: 100%;
    background-position: center;
}

.textContent{
    padding: 20px;
    text-align: center;
    height: auto;
    text-align: justify;
    color: white;
}

.pCText{
    padding-top: 70px;
}

.profilePhoto{
    background-image: url("../../src/img/jpg/bestPP.jpg");
    background-size: 100%;
    width: 175px;
    height: 175px;
    border-radius: 25px;
    position: relative;
    top: 30%;
}

.formationContent{
    /*
    background-image: url("../../src/img/jpg/IA-back3-blured.jpg");
    background-size: 150%;*/
    color: black;
}

.contactContent{
    background-color: rgb(19, 19, 80);
}

.borderfC{
    
    height: 80px;
    background: beige;
    position: relative;
}

.btsLogoContent{
    display: flex;
    justify-content: center;
    align-items: center;

}

.btsLogo{
    height: 100%;
    position: relative;
    top: 15px;
}

.bfCTop{
    bottom: -1px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-top: 2px #48392A solid;

}

.bfCBottom{
    top: -1px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom: 2px #48392A solid;
}







/*
.demiCercleBande{
    display: flex;
    justify-content: space-between;
}

.demiCercle{
    background-color: #1f76c985;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    position: relative;
    top: -50%;
}

.DCleft{
    left: -50%
}

.DCright{
    right: -50%
}
*/