html{
    scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'KonnectL';
  font-size: large;
  background: linear-gradient(0.62turn,#131350 50%, #5555c2);
  background-color: #131350;
}

h1{
    font-family: 'KonnectM';
}

.shadowStyle1{
    
    box-shadow: 25px 25px 25px rgba(0, 0, 0, 0.253);
}

.homeContent{
    display: flex;
    flex-direction: column;
}

.profilContent{
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pCHeader{
    background-image:linear-gradient(202deg, transparent 80%, #282875 95%), url(../../src/img/jpg/IA-back1.jpg);
    background-size: 100%;
    background-position: center;
}

.textContent{
    padding: 20px;
    text-align: center;
    height: auto;
    text-align: justify;
    color: white;
}

.pCText{
    padding-top: 70px;
}

.profilePhoto{
    background-image: url("../../src/img/jpg/bestPP.jpg");
    background-size: 100%;
    width: 175px;
    height: 175px;
    border-radius: 25px;
    position: relative;
    top: 30%;
}

.formationContent{
    /*
    background-image: url("../../src/img/jpg/IA-back3-blured.jpg");
    background-size: 150%;*/
    background-color: beige;
    color: black;
}

.fullContactContent, .contactContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reverseBackColor{
    background: linear-gradient(0.12turn,#131350, #5f5fd4);
    box-shadow: 0px 0px 30px rgb(0 0 0 / 60%);
    border-radius: 15px;
}

.contactCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 300px;
    height: 300px;
}

.contactContentInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactInfo{
    width: 360px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.Qbert{
    width: 50px;
    height: 50px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cCInput{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ccItextA{
    height: 100%;
}

input, textarea, button{
    background-color: #0a0a2b;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 11px;
}

input, textarea{
    margin-bottom: 5px;
}

textarea[name=message] {
    margin-bottom: 10px;
    resize: none;
}

button{
    width: 40%;
}

.borderfC{
    
    height: 80px;
    background: beige;
    position: relative;
}

.btsLogoContent{
    display: flex;
    justify-content: center;
    align-items: center;

}

.btsLogo{
    height: 100%;
    position: relative;
    top: 15px;
}

.bfCTop{
    bottom: -1px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top: 2px #48392A solid;

}

.bfCBottom{
    top: -1px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 2px #48392A solid;
}

.contactContantText{
    margin-bottom: 50px;
}

.icon2{
    height: 50%;
    width: auto;
    filter: invert(1);
}

footer{
    visibility: hidden;
}

footer{
    border-top: beige 0.2px solid;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footInInco, .droitAuteurContent, .reseauContent{
    display: flex;
}

.footInInco, .reseauContent{
    width: 360px;
}

@media screen and (min-width: 500px) {

    .fCWidth{
        margin-left: 5%;
        margin-right: 5%;
    }

}

@media screen and (min-width: 960px) {

    .fullProfilContent{
        display: flex;
        height: 100vh;
    }

    .profilContent{
        width: 50%;
        padding: 45px;
    }

    .pCHeader{
        height: auto;
    }

    .profilePhoto{
        top: 0;
        width: 250px;
        height: 250px;
    }

    .fCWidth{
        margin-left: 10%;
        margin-right: 10%;
    }

    .contactContent{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .contactContantText, .contactContantCard{
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contactContantText{
        align-items:flex-start;
        margin-bottom: 0px;
    }

    .pCText{
        font-size: initial;
    }
}


@media screen and (min-width: 1200px) {
    .pCText{
        font-size: inherit;
    }
}